.Register-container {
    width: 390px;
    height: 844px;
    /* border: 1px solid black; */
}

.Register-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
}

@keyframes RegisterFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes RegisterFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.Register-fadeIn {
    animation: RegisterFadeIn 0.5s ease-in-out forwards;
}

.Register-fadeOut {
    animation: RegisterFadeOut 0.5s ease-in-out forwards;
}


.back-btn {
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    background-color: white;
}

.Register-form {
    margin-left: 20px;
    margin-top: 90px;
    color: #585858;
}

.country-code {
    font-size: 20px;
    border-bottom: 2px solid #ccc;
    color: #585858;
}

.Register-input {
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    font-size: 20px;
    margin-left: 20px;
    color: #585858;
}

.Register-next {
    display: flex;
    justify-content: center;
}

.btn-next {
    width: 100%;
    max-width: 348px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 35px;
    border: none;
    margin-top: 500px;
    background-color: #14BF61;
    color: white;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-next:active {
    background-color: #cccccc;
    transform: scale(0.98);
}
.error-message {
    color: red; /* เปลี่ยนสีข้อความเป็นสีแดง */
    font-size: 14px; /* ขนาดตัวอักษรเล็กน้อย */
    margin-top: 10px; /* ระยะห่างจาก input */
  }
  